body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-align: center;
    overflow: hidden;
}

#game-container {
    text-align: center;
    margin: auto;
    max-width: 600px;
    background: url('../img/mole-bk.png') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
}

h1 {
    color: #333;
}

#moles-container {
    position: relative;
    margin-top: 20px;
    width: 100vw;
    height: 100vh;
}

.mole {
    transition: transform 0.2s ease-in-out;
    position: absolute;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.mole:hover {
    transform: scale(1.2);
}

#score-value {
    font-size: 24px;
    color: #ffffff;
    background-color: #333333;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

#start-button, #reset-button {
    font-size: 16px;
    background-color: #4caf50;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

#start-button:hover, #reset-button:hover {
    background-color: #45a049;
}

.cursor {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url('../img/hammer.png') no-repeat center center;
    background-size: contain;
    pointer-events: none;
    transition: transform 0.1s ease-in-out;
    z-index: 1000;
}

.cursor.active {
    transform: scale(0.8);
}
